.kanban-board-for-objects.d-flex {
  margin-top: 1rem;
  gap: 1rem;
}

.kanban-board-for-objects .droppable-container {
  height: 550px;
  overflow: scroll;
}

.kanban-board-for-objects .card-header {
  background-color: var(--color-brand-primary-lighten-6, #fbfaff);
}

.kanban-board-for-objects .card-title {
  color: var(--color-brand-primary-darken-2, #320e95);
}

.kanban-board-for-objects .droppable-container.dragging-over {
  background-color: var(--color-state-success-lighten-2, #e6f1e6);
}

.kanban-board-for-objects .card-text {
  padding: 1rem;
  background: var(--color-neutral-0, #ffffff);
  border: 1px solid var(--color-brand-primary-lighten-4, #c8b6f8);
  border-radius: var(--border-radius, .5rem);
}

.kanban-board-for-objects .card-text.dragging {
  background-color: var(--color-brand-primary-lighten-5, #e0d6fc);
  box-shadow: var(--box-shadow, 0 2px 6px rgba(0, 0, 0, .15));
}

.kanban-board-for-objects .card-text:hover {
  cursor: pointer;
  background-color: var(--color-brand-primary-lighten-6, #fbfaff);
}